<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FACTS</title>
    {% load static %}
    <link rel='stylesheet' href= "{% static 'facts.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="upnav"><img src="{% static 'images/heart.avif'%}" alt="" class="heart_img"></div>
    <div class="navbar">
        <a href="/home" class="home">Home</a>
        <a href="/products">Products</a>
        <a href="/facts">Facts</a>
        <a href="/contact">Contact Us</a>
        <a href="/login">Sign Up</a>
    </div>

    <div class="facts">
        <div class="head">
            <img src="{% static 'images/ice_cream.jpg'%}" alt="">
            <div class="heading">FUN FACTS ABOUT ICE CREAM <br>THAT YOU DIDN'T KNOW!!</div>
        </div>
        <div class="fcontent">
            <p>Do you love ice cream as much as we do? If you can't go a day, a week, or even a month without the delicious flavors of ice cream, then we know how you feel. While you may be a pro at eating ice cream, did you know that there are some really interesting facts about ice cream?</p>

        <p>We have found some cool tidbits about ice cream that you may not have heard before. If you want to impress your friends and family with your knowledge about this infamous sweet treat, take a look at some of the fun facts below!</p>

        <ul>
            <li>It takes 12 pounds of milk to produce just 1 gallon of ice cream</li>
            <li>The average number of licks to finish a scoop of ice cream is 50</li>
            <li>The country that consumes the most ice cream is USA, followed by Australia then Norway.</li>
            <li>The most popular flavor is vanilla, then chocolate</li>
            <li>Chocolate ice cream was invented before vanilla</li>
            <li>Vanilla was rare and exotic in the late 1700's</li>
            <li>Ice cream in America in the 1700's was rare and enjoyed by the elite</li>
            <li>The first written ice cream recipe was found in a 1665 recipe book</li>
            <li>Industrial ice cream production in the US began in 1851</li>
            <li>The majority of Americans - around 90% have ice cream in their freezers</li>
            <li>Some of the strangest flavors found are: avocado, garlic, chili, licorice, Stilton cheese, and bacon</li>
            <li>Ice cream headaches or “brain freeze” is the result of the nerve endings in the roof of your mouth sending a message to your brain of the loss of heat</li>
            <li>The tallest ice cream cone was over 9 feet tall in Italy</li>
            <li>The average American eats 45.8 pints of ice cream a year</li>
            <li>Chocolate syrup is the most popular ice cream topping</li>
        </ul>
        </div>
    </div>

    <div class="footer">
        <div class="upper">
            <div class="heart"><img src="{% static 'images/heart.avif'%}" alt=""></div>
            <div class="content">
                <a href="">Sitemap</a>
                <a href="/contact">Contact Us</a>
                <a href="">Privacy Notice</a>
                <a href="">Unilever</a>
                <a href="">Legal</a>
                <a href="">Cookie Notice</a>
                <a href="">Accessibility</a>
            </div>
            <div class="follow">
                <p>Follow Us</p>
                <a href="/facebook"><img src="{% static 'images/facebook.png'%}" alt="" id="im1"></i></a>
                <a href="/instagram"><img src="{% static 'images/insta.webp'%}" alt="" id="im2"></a>
            </div>
        </div>
        <div class="lower">
            <div class="lower-upper">
                <p id="loc">LOCATION</p>
                <div class="location">
                    <p>INDIA</p>
                    <p> | </p>
                    <p>CHANGE LOCATION</p>
                </div>
            </div>
            <div class="lower-lower">
                
            </div>
        </div>
    </div>
</body>
</html>