<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICE CREAMS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
{% load static %}
<link rel='stylesheet' href= "{% static 'index.css'%}">
</head>
<body>
    <div class="container">
        <div class="head">
            <p>LOGIN AS</p>
        </div>
        <div class="way"><a href="/admin"><button class="btn">ADMIN LOGIN</button></a></div>
        <div class="way"><a href="/home"><button class="btn">USER LOGIN</button></a></div>
    </div>
</body>
</html>