<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCTS</title>
    {% load static %}
    <link rel='stylesheet' href= "{% static 'products.css'%}">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

</head>
<body>
    <div class="upnav"><img src="{% static 'images/heart.avif'%}" alt="" class="heart_img"></div>
    <div class="navbar">
        <a href="/home" class="home">Home</a>
        <a href="/products">Products</a>
        <a href="/facts">Facts</a>
        <a href="/contact">Contact Us</a>
        <a href="/login">Sign Up</a>
    </div>

    <div class="main">
        <div class="card">
            <img src="{% static 'images2/img1.avif' %}" alt="">
            <p class="card_heading">Cornetto Butterscotch</p>
            <p class="card_description">Creamy butterscotch in a wafer cone (16.1%) with chocolate compound coating(16.1%) Butterscotch Flavoure...</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>        
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img2.avif' %}" alt="">
            <p class="card_heading">Cornetto Double Chocolate</p>
            <p class="card_description">Dark and Milk Chocolate delights in a wafer cone (16%) with chocolate compound coating(14%)</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img3.avif' %}" alt="">
            <p class="card_heading">Uni Cornetto</p>
            <p class="card_description">Creamy Berry dessert, Black currant fruits (4%) in a wafer cone (14.2%) with chocolate compound...
            </p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img4.avif' %}" alt="">
            <p class="card_heading">Vanilla</p>
            <p class="card_description">Smooth, soft, creamier and delicious Vanilla scoop in a cup.</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img5.avif' %}" alt="">
            <p class="card_heading">Desi Kulfi</p>
            <p class="card_description">Desi Kulfi ! Traditional affair with Almonds</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img6.avif' %}" alt="">
            <p class="card_heading">Gems Cup</p>
            <p class="card_description">Try the new crunchy, colourful and chocolatey Kwality Walls Cadbury Gems Burst!</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img7.avif' %}" alt="">
            <p class="card_heading">Crunchilious Butterscotch</p>
            <p class="card_description">Kwality Walls Buttercscotch Family Pack with crunchy Cashew Nuts</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img8.avif' %}" alt="">
            <p class="card_heading">Dazzli Tutti Frutti</p>
            <p class="card_description">Kwality Walls Tutti Frutti Family pack with Fruit Pieces</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>

    
        <div class="card">
            <img src="{% static 'images2/img9.avif' %}" alt="">
            <p class="card_heading">So Alphonso Mango</p>
            <p class="card_description">Kwality Walls Alphonso Mango Family Pack with Alphonso Mango Pulp (10%)</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img10.avif' %}" alt="">
            <p class="card_heading">Cloud Bite</p>
            <p class="card_description">Dual flavours of mango and raspberry on a stick in its unique shape</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img11.avif' %}" alt="">
            <p class="card_heading">Lemon Blast</p>
            <p class="card_description">Enjoy licking this cool and refreshing ice candy with lemon flavour. Slurp!</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
        <div class="card">
            <img src="{% static 'images2/img12.avif' %}" alt="">
            <p class="card_heading">Chocobar</p>
            <p class="card_description">Creamy Vanilla Wrapped in a crunchy chocolate coating</p>
            <form action="">
                <div class="btn_ic"> <button>BUY NOW</button> </div>
            </form>
        </div>
        
    </div>

    <div class="footer">
        <div class="upper">
            <div class="heart"><img src="{% static 'images/heart.avif'%}" alt=""></div>
            <div class="content">
                <a href="">Sitemap</a>
                <a href="/contact">Contact Us</a>
                <a href="">Privacy Notice</a>
                <a href="">Unilever</a>
                <a href="">Legal</a>
                <a href="">Cookie Notice</a>
                <a href="">Accessibility</a>
            </div>
            <div class="follow">
                <p>Follow Us</p>
                <a href="/facebook"><img src="{% static 'images/facebook.png'%}" alt="" id="im1"></i></a>
                <a href="/instagram"><img src="{% static 'images/insta.webp'%}" alt="" id="im2"></a>
            </div>
        </div>
        <div class="lower">
            <div class="lower-upper">
                <p id="loc">LOCATION</p>
                <div class="location">
                    <p>INDIA</p>
                    <p> | </p>
                    <p>CHANGE LOCATION</p>
                </div>
            </div>
            <div class="lower-lower">
                
            </div>
        </div>
    </div>
</body>
</html>